@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: 100px 500px 100px 1fr 500px 1fr 250px;
}

nav {
  grid-row: 1/span 1;
}

.title {
  color: #2949c7;
  font-family: Fredoka;
  font-size: 25px;
  margin-right: 600px;
  font-weight: bold;
}

.navegations {
  display: flex;
  font-family: Fredoka;
  color: gray;
  justify-content: end;
  margin-right: 60px;
  align-items: center;
}
.navegations-btn {
  width: 110px;
  height: 40px;
  background-color: #0e91e4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: Fredoka;
  font-size: 15px;
  color: white;
  box-shadow: 1px 5px 10px #bfbdbd;
  transition: all 0.2s;
  cursor: pointer;
}
.navegations-btn:hover {
  background-color: #3050cd;
  transform: translateY(2px);
}

h2 {
  font-size: 15px;
  padding: 15px;
  cursor: pointer;
}
h2:hover {
  background-color: #f1f1f1;
}

h1 {
  font-family: Roboto;
  color: #1f3e72;
  font-size: 40px;
  font-weight: bold;
}

.inicio {
  display: grid;
  grid-row: 2/span 1;
  grid-template-columns: 1fr 1fr;
  font-family: Fredoka;
}
.inicio-texto {
  padding: 50px;
  color: #6d7b93;
}
.inicio-img {
  width: 100%;
  height: 100%;
}
.inicio-img-1 {
  width: 100%;
  height: 100%;
}

.marcas {
  display: grid;
  grid-row: 3/span 1;
}
.marcas-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.marcas-img--logo {
  width: 200px;
}

.section1 {
  display: grid;
  grid-row: 4/span 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: Fredoka;
  color: #6d7b93;
  padding: 50px;
}
.section1--texto {
  grid-column: 1/1;
}
.section1-cards {
  display: grid;
  grid-row: 5;
  grid-column: 1/-1;
}
.section1-cards-title {
  font-family: Fredoka;
  color: #1f3e72;
  font-size: 20px;
  padding: 0 15px;
  font-weight: bold;
}
.section1-cards-texto {
  font-size: 12px;
  padding: 0 15px;
}
.section1-cards-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 60px;
}
.section1-cards--margin {
  padding: 60px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.section1-cards--margin:hover {
  transform: translateY(3px);
  box-shadow: 1px 5px 10px #bfbdbd;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 5;
  padding: 0 20px;
}
.section2-title {
  grid-column: 2/span 1;
}
.section2-texto {
  grid-column: 2/-1;
  font-family: Fredoka;
  color: #6d7b93;
  font-size: 20px;
}
.section2-img {
  grid-column: 1/1;
  margin-top: -200px;
}
.section2-img--1 {
  width: 100%;
}

.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 6;
  padding: 50px;
}
.section3-img--1 {
  width: 100%;
}
.section3-title {
  grid-column: 1/span 1;
}
.section3-texto {
  grid-column: 1/span 1;
  font-family: Fredoka;
  color: #6d7b93;
  font-size: 20px;
}
.section3-cards {
  grid-column: 1/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Fredoka;
  color: #1f3e72;
  font-size: 20px;
  grid-template-rows: 1fr 1fr;
}
.section3-cards-card {
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  transition: all 0.2s;
}
.section3-cards-card:hover {
  transform: translateY(3px);
  box-shadow: 1px 5px 10px #bfbdbd;
}
.section3-cards-card-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 110px;
  align-items: center;
  height: 40px;
  cursor: pointer;
  background-color: #0e91e4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: Fredoka;
  font-size: 15px;
  color: white;
  box-shadow: 1px 5px 10px #bfbdbd;
  transition: all 0.2s;
}
.section3-cards-card-btn:hover {
  background-color: #3050cd;
  transform: translateY(2px);
}

footer {
  grid-row: 7;
  background-color: #eef3ff;
  display: grid;
  grid-template-columns: 500px 1fr;
}

.footer-section1 {
  grid-column: 1/span 1;
  color: #2949c7;
  font-family: Fredoka;
  font-size: 25px;
  margin-right: 200px;
  padding: 30px;
  font-weight: bold;
}
.footer-section1-texto {
  font-family: Fredoka;
  color: #6d7b93;
  font-size: 15px;
  font-weight: lighter;
}

.footer-section2 {
  display: grid;
  font-family: Fredoka;
  color: #6d7b93;
  font-size: 15px;
}
.footer-section2--about {
  grid-column: 2/span 1;
}
.footer-section2--company {
  grid-column: 3/span 1;
}
.footer-section2--support {
  grid-column: 4/span 1;
}

h4 {
  color: #1f3e72;
  font-family: Fredoka;
  font-size: 25px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */